<h2>Olá!</h2>
<h4>Bem vindo ao Teste de Stefanini.</h4>
<hr />
<button class="btn btn-primary" (click)="showList = !showList">{{showList ? 'Cadastar Cidade' : 'Ocultar Cadastro'}}</button>
<br />
<hr />

<div *ngIf="!showList">
  <br />
  <h5>Cadastrar Cidade</h5>
  <div *ngFor="let e of error">
    <li style="color: #ff0000;">{{e.erro}}</li>
  </div>

  <form>

    <div style="display: flex; flex-direction: row; margin-top: 30px">
      <div style="width:30%;">
        <label><small>Estado</small></label>
        <input type="text" class="form-control" placeholder="Insira o estado.." name="cidade.uf" [(ngModel)]="cidade.uf" required>
      </div>

      <div style="margin-left: 5%; width:30%;">
        <label><small>Cidade</small></label>
        <input type="text" class="form-control" placeholder="Insira a cidade.." name="pessoa.nome" [(ngModel)]="cidade.nome" required>
      </div>

    </div>


    <button type="submit" class="btn btn-primary" style=" width:8%;margin-top:30px" (click)="cadastrarcidade()">Cadastrar</button>
  </form><br />
  <hr />
  <br /><br />
</div>



<h5>Cidades cadastradas</h5>
<br />

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered row-border hover">
  <thead>
    <tr>
      <th style="width: 40%">Estado</th>
      <th style="width: 40%">Cidade</th>
      <th style="text-align:center;">Ações</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let c of data">
      <td>{{ c.uf }}</td>
      <td>{{ c.nome }}</td>
      <td style="text-align:center;">

        <button class="btn btn-warning" style="color:#fff;" routerLink="/cidade/atualizar/{{c.id}}">

          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
            <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
            <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
          </svg>

        </button>


        <button class="btn btn-danger" style="margin-left: 10px; color:#fff;" [swal]="{
                  title: 'Excluir',
                  text: 'Tem certeza que deseja excluir essa cidade ' + c.nome + '?',
                  showDenyButton: true,
                  denyButtonText: 'Cancelar',
                  confirmButtonText: 'Confirmar',
                  confirmButtonColor: '#B22222',
                  denyButtonColor: '#808080',
                  icon: 'warning'
                 }" (confirm)="deletar(c.id)">
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" style="margin-bottom:2px;" fill="currentColor" class="bi bi-x-circle-fill" viewBox="0 0 16 16">
            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM5.354 4.646a.5.5 0 1 0-.708.708L7.293 8l-2.647 2.646a.5.5 0 0 0 .708.708L8 8.707l2.646 2.647a.5.5 0 0 0 .708-.708L8.707 8l2.647-2.646a.5.5 0 0 0-.708-.708L8 7.293 5.354 4.646z" />
          </svg>
        </button>



      </td>
    </tr>
  </tbody>
</table>
<br />
<br />
<br />


