
<h2>Atualizar Pessoa</h2>
<hr />

<div *ngFor="let e of error">
  <li style="color: #ff0000;">{{e.erro}}</li>
</div>

<form>

  <div style="display: flex; flex-direction: row; margin-top: 30px">
    <div style="width:30%;">
      <label><small>Nome</small></label>
      <input type="text" class="form-control" placeholder="Insira o nome.." name="nome" [(ngModel)]="pessoa.nome" required>
    </div>

    <div style="margin-left: 5%; width:30%;">
      <label><small>CPF</small></label>
      <input type="text" class="form-control" placeholder="Insira o CPF.." name="cpf" [(ngModel)]="pessoa.cpf" required>
    </div>

    <div style="margin-left: 5%; width: 30%;">
      <label><small>Idade</small></label>
      <input type="text" class="form-control" placeholder="Insira a idade.." name="idade" [(ngModel)]="pessoa.idade" required>
    </div>

    <div style="margin-left: 5%; width: 30%;">
      <label><small>Estado</small></label>
      <select name="pessoa.cidade.uf" [(ngModel)]="pessoa.cidade.uf" class="form-control" (change)="exibeCidades()">
        <option *ngFor="let e of estados" [value]="e.uf">{{e.uf}}</option>
      </select>
    </div>

    <div style="margin-left: 5%; width: 30%;">
      <label><small>Cidade</small></label>
      <select name="pessoa.cidade.nome" [(ngModel)]="pessoa.cidade.nome" class="form-control">
        <option *ngFor="let c of cidades" [value]="c.nome">{{c.nome}}</option>
      </select>
    </div>


  </div>


  <button type="submit" class="btn btn-primary" style=" width:8%;margin-top:30px" (click)="atualizarpessoa()">Atualizar</button>
</form>
