<h2>Olá!</h2>
<h4>Bem vindo ao Teste de Stefanini.</h4>
<hr />
<button class="btn btn-primary" (click)="showList = !showList">{{showList ? 'Cadastar Pessoa' : 'Ocultar Cadastro'}}</button>
<br />
<hr />

<div *ngIf="!showList">
  <br />
  <h5>Cadastrar Pessoa</h5>
  <div *ngFor="let e of error">
    <li style="color: #ff0000;">{{e.erro}}</li>
  </div>

  <form>

    <div style="display: flex; flex-direction: row; margin-top: 30px">
      <div style="width:30%;">
        <label><small>Nome</small></label>
        <input type="text" class="form-control" placeholder="Insira o nome.." name="pessoa.nome" [(ngModel)]="pessoa.nome" required>
      </div>

      <div style="margin-left: 5%; width:30%;">
        <label><small>CPF</small></label>
        <input type="text" class="form-control" placeholder="Insira o CPF.." name="pessoa.cpf" [(ngModel)]="pessoa.cpf" required>
      </div>

      <div style="margin-left: 5%; width: 30%;">
        <label><small>Idade</small></label>
        <input type="text" class="form-control" placeholder="Insira a idade.." name="pessoa.idade" [(ngModel)]="pessoa.idade" required>
      </div>

      <div style="margin-left: 5%; width: 30%;">
        <label><small>Estado</small></label>
        <select name="pessoa.cidade.uf" [(ngModel)]="pessoa.cidade.uf" class="form-control" (change)="exibeCidades()">
          <option *ngFor="let e of estados" [value]="e.uf">{{e.uf}}</option>
        </select>
      </div>

      <div style="margin-left: 5%; width: 30%;">
        <label><small>Cidade</small></label>
        <select name="pessoa.cidade.nome" [(ngModel)]="pessoa.cidade.nome"  class="form-control">
          <option *ngFor="let c of cidades" [value]="c.nome">{{c.nome}}</option>
        </select>
      </div>

    </div>


    <button type="submit" class="btn btn-primary" style=" width:8%;margin-top:30px" (click)="cadastrarpessoa()">Cadastrar</button>
  </form><br />
  <hr />
  <br /><br />
</div>

  <h5>Pessoas cadastradas</h5>
  <br />

  <table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-bordered table-condensed table-hover table-striped">
    <thead>
      <tr>
        <th>Nome</th>
        <th>CPF</th>
        <th>Idade</th>
        <th>Estado</th>
        <th>Cidade</th>
        <th style="text-align:center;">Ações</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let p of data">
        <td>{{ p.nome }}</td>
        <td>{{ p.cpf }}</td>
        <td>{{ p.idade }}</td>
        <td>{{ p.cidade.nome }}</td>
        <td>{{ p.cidade.uf }}</td>
        <td style="text-align:center;">

          <button class="btn btn-warning" style="color:#fff;" routerLink="/pessoa/atualizar/{{p.id}}">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-pencil-square" viewBox="0 0 16 16">
              <path d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
              <path fill-rule="evenodd" d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
            </svg>
          </button>

          <button class="btn btn-danger" style="margin-left: 10px; color:#fff;" [swal]="{
                  title: 'Excluir',
                  text: 'Tem certeza que deseja excluir a pessoa ' + p.nome + '?',
                  showDenyButton: true,
                  denyButtonText: 'Cancelar',
                  confirmButtonText: 'Confirmar',
                  confirmButtonColor: '#B22222',
                  denyButtonColor: '#808080',
                  icon: 'warning'
                 }" (confirm)="deletar(p.id)">

            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-x-fill" viewBox="0 0 16 16">
              <path fill-rule="evenodd" d="M1 14s-1 0-1-1 1-4 6-4 6 3 6 4-1 1-1 1H1zm5-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm6.146-2.854a.5.5 0 0 1 .708 0L14 6.293l1.146-1.147a.5.5 0 0 1 .708.708L14.707 7l1.147 1.146a.5.5 0 0 1-.708.708L14 7.707l-1.146 1.147a.5.5 0 0 1-.708-.708L13.293 7l-1.147-1.146a.5.5 0 0 1 0-.708z" />
            </svg>

          </button>

        </td>
      </tr>
    </tbody>
  </table>
  <br /><br /><br />
