<h2>Olá!</h2>
<h4>Bem vindo ao Teste de Stefanini.</h4>
<hr />

<h5>Pessoas cadastradas</h5>
<br />

<table datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="row-border hover">
  <thead>
    <tr>
      <th>Nome</th>
      <th>CPF</th>
      <th>Idade</th>
      <th>Estado</th>
      <th>Cidade</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let p of data">
      <td>{{ p.nome }}</td>
      <td>{{ p.cpf }}</td>
      <td>{{ p.idade }}</td>
      <td>{{ p.cidade.nome }}</td>
      <td>{{ p.cidade.uf }}</td>
    </tr>
  </tbody>
</table>

<br />
<br />
<hr />
<h5>Cadastrar Pessoa</h5>
<br />

<form style="display: flex; flex-direction: column;">

  <div style="display: flex; flex-direction: row; margin-top: 30px">
    <div style="width:30%;">
      <label><small>Nome</small></label>
      <input type="text" class="form-control" name="nome">
    </div>

    <div style="margin-left: 5%; width:30%;">
      <label><small>CPF</small></label>
      <input type="text" class="form-control" name="cpf">
    </div>

    <div style="margin-left: 5%; width: 30%;">
      <label><small>Idade</small></label>
      <input type="text" class="form-control" name="idade">
    </div>

  </div>


  <button type="submit" class="btn btn-primary" style=" width:8%;margin-top:30px">Cadastrar</button>
</form>

